<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Exercise</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1 class="center">Exercise</h1>
    <form action="<%=`/users/${user._id}/tracker/${item._id}/edit_plan`%>?_method=PUT" method="POST">
      <div>
        <label for="exercise">Exercise:</label>
        <input required type="text" name="exercise" id="exercise" value="<%= item.exercise%>" />
      </div>
      <div>
        <label for="weight1">Weight:</label>
         <div class="relative">
          <input  type="number" name="weight1" id="weight1" value="<%= item.weight1%>"/>
          <div class="measure">lbs</div>
        </div>
      </div>
     
      <div>
        <label for="sets">Sets:</label>
        <input type="number" name="sets" id="sets" value="<%= item.sets%>"/>
      </div>
      <div>
        <label for="repetitions">Repetitions:</label>
        <input type="number" name="repetitions" id="repetitions" value="<%= item.repetitions%>"/>
      </div>
      <div>
        <label for="status">Status:</label>
        <select name="status" id="status" >
          <option value="finished" <%=item.status==='finished'?'selected':''%>>Finished</option>
          <option value="not finished" <%=item.status==='not finished'?'selected':''%>>Not Finished</option>
        </select>
      </div>
      <button type="submit">Update Exercise Record</button>
    </form>
  </body>
</html>
