<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1 class="center">Health</h1>
    <% if(user.weight_history.length){ %>
      <ul>
        <%user.weight_history.forEach(function(el){ %>
          <li style="display:flex; gap:10px;align-items:center">
            <p><%=el.weight %></p>
            <a href="<%=`/users/${user._id}/tracker/${el._id}/edit_weight`%>" >
              <button type="submit">edit</button>
            </a>
            <form action="<%=`/users/${user._id}/tracker/${el._id}/weight?_method=DELETE`%>" method="POST">
              <button type="submit" style="background:red;color:white">delete</button>
            </form>
          </li>
        <%});%>
      </ul>
    <%}else{%>
      <p>There are no weight records.</p>
    <%}%>
    <a href="/users/<%=user._id%>/tracker/weight"><button>Add New Weight Record</button></a>
  </body>
</html>
